.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

.navbar-logo img {
    height: 40px;
}

.user-icon {
    font-size: 32px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.user-icon:hover {
    color: #007BFF;
}


